<!DOCTYPE html>
<html lang="he-IL">
    <head>
        <link rel="stylesheet" href="/styles/style.css" />
        <title>המשמר החברתי - {% block title %}{% endblock %}</title>
    </head>
    <body  >
        <header>
        <h1><a href="/">המשמר החברתי</a></h1>
        <h3>שלום <span id="name"></span></h3>
        <nav>
            <a href="/categorize/">חיבור נושאים לישיבות</a>
            <a href="/subjects/">בחירת נושאים להתראות</a>
            <a href="/main/">הוספת הערות לישיבות</a>
            <a href="/profile/">הפרופיל שלי</a>
            <a href="/logout/">יציאה</a>
        </nav>
        </header>
        <main>
            {% block main%}{% endblock %}
        </main>
        <footer>
        </footer>
        <script type="module">
            import * as api from '/scripts/api.js'
            (async () => {
                const me = await api.ensureCurrentUser()
                document.querySelector('#name').innerText = me.name
            })()
        </script>
    </body>
</html>