<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/style.css" />
        <title>המשמר החברתי - {% block title %}{% endblock %}</title>
    </head>
    <body>
        <header>
        <h1>המשמר החברתי</h1>
        </header>
        <main>
            {% block main%}{% endblock %}
        </main>
        <footer>
        </footer>
    </body>
</html>