{% extends "./base.njk" %}
{% block title %}
בחירת נושאים
{% endblock %}
{% block main %}
<form id="categorize">
    <h2>טווח תאריכים:</h2>
    <input type="date" id="fromDate" />
    <input type="date" id="toDate" />
    <h2>נושאים:</h2>
    <ul id="subjectList">
        <li><label></label><input type="button" value="מחק" />
    </ul>
    <label>נושא חדש:
    <input type="text" id="newSubjectName" />
    <input type="button" value="הוסף" id="addSubject" />
    </label>
    <h2>בחר נושאים עבור הדיונים הבאים:</h2>
        <div id="scroller">
        <table>
            <thead>
                <td>תאריך
                <td>ועדה
                <td>דיון
                <td>נושאים
            <tbody>
                <tr>
                    <td class="date">
                    <td class="committee">
                    <td><a class="issue" target="knesset"></a>
                    <td class="subjects">
                        <span class="subject">
                            
                            <label><input type="checkbox">
                            <span class="title" />
                            </label>
                        </span>
    </table>
    </div>
</form>
<script type="module" src="/scripts/categorize.js"></script>
{% endblock %}
