{% extends "./base.njk" %}
{% block title %}
בחירת נושאים
{% endblock %}
{% block main %}
<form id="categorize">
    <h2>בחר תאריכים:</h2>
    <input type="date" id="fromDate" />
    <input type="date" id="toDate" />
    <h2>בחר נושאים עבור הדיונים הבאים:</h2>
        <table>
            <thead>
                <td>תאריך</td>
                <td>ועדה</td>
                <td>דיון</td>
                <td>נושאים</td>
            <tbody>
                <tr>
                    <td class="date"></td>
                    <td class="committee"></td>
                    <td><a class="issue" target="knesset"></a></td>
                    <td class="subjects">
                        <span class="subject">
                            
                            <label><input type="checkbox">
                            <span class="title" />
                            </label>
                        </span>
                    </td>
                </tr>
    </table>
</form>
<script type="module" src="/scripts/categorize.js"></script>
{% endblock %}
