{% extends "./base.njk" %}
{% block title %}
בחירת נושאים
{% endblock %}
{% block main %}
        <ul>
            <li><a href="/categorize/">חיבור נושאים לישיבות
            <li><a href="/subjects/">בחירת נושאים להתראות
            <li><a href="/remarks/">הוספת הערות לישיבות
{% endblock %}
