{% extends "./base.njk" %}
{% block title %}
ועדות והערות
{% endblock %}
{% block main %}
<form id="main">
    <h2>טווח תאריכים:</h2>
    <input type="date" id="fromDate" />
    <input type="date" id="toDate" />
    <h2>נושאים:</h2>
    <label>
        <input type="checkbox" class="selectAll" value="" checked> כל הנושאים</label>
    <ul id="subjectList">
        <li><label><input type="checkbox" class="filter" /><span class="label"></span></label>
    </ul>
    <h2>דיונים:</h2>
        <table>
            <thead>
                <td>תאריך
                <td>ועדה
                <td>דיון
                <td>נושאים
                <td>פעולות
            <tbody>
                <tr>
                    <td class="date">
                    <td class="committee">
                    <td class="issue"></td>
                    <td class="subjects">
                        <span class="subject">
                            <span class="title"></a>
                        </span>
                    <td class="actions">
                        <a class="remarks">הערות</a>
                        <a class="info" target="knesset">מידע</a>
        </table>
</form>
<div id="loading">
    תוכן בטעינה
</div>

<script type="module" src="/scripts/main.js"></script>
{% endblock %}
