{% extends "./base.njk" %}
{% block title %}
פרופיל
{% endblock %}
{% block main %}
<form id="profile">
    <label>שם: <input type="text" id="name" /></label>
    <label>תמונה: <input type="text" id="photo" /><img id="thumb" class="thumb" /></label>
    
    <label>אימייל: <input type="text" id="email" /></label>
    <input type="submit" value="אשר" id="submit" /></label>
</form>
<form id="notifications">
    <h2>התראות</h2>
    <ul id="subjects">
        <li class="subject"><label><input type="checkbox"><span>
    </ul>
    <input type="submit" value="שמור" />
</form>
<script type="module" src="/scripts/profile.js"></script>
{% endblock %}
