{% extends "./base.njk" %}
{% block title %}
הערות לישיבה
{% endblock %}
{% block main %}
<form id="remarks">
    <h3 id="committee"></h3>
    <h3 id="date"></h3>
    <h3 id="session"></h3>
    <a id="info" target="knesset">עוד מידע</a>
    <h2>הערות:</h2>
    <table>
        <thead>
            <td>תאריך
            <td>משתמש
            <td>הערה
            <td>פעולות
        <tbody id="remarkList" >
            <tr>
                <td class="date">
                <td class="user"><img class="thumb"><span class="name" />
                <td><label class="remark"></label>
                <td><input type="button" class="delete" value="הסר" />
        </tbody>
    </table>
    <label>הוסף הערה: <input type="text" id="newRemark" /></label>
    <input type="button" id="addRemark" value="הוסף" />
</form>
<script type="module" src="/scripts/remarks.js"></script>
{% endblock %}
