table {
    width: 80vw;
    max-width: 1200px;
    border: 1px solid black;
    padding: 0;
}

.subject {
    white-space: nowrap;
}
td {
    border: 1px solid grey;
    margin: 0;
}

td.date {
    white-space: nowrap;
}

body {
    direction: rtl;
}

#self_thumb {
    max-width: 32px;
}