table {
    width: 80vw;
    max-width: 1200px;
    border: 1px solid black;
    padding: 0;
}

.subject {
    white-space: nowrap;
}
td {
    border: 1px solid grey;
    margin: 0;
}

td.date {
    white-space: nowrap;
}

body {
    direction: rtl;
}

#self_thumb, .thumb {
    max-width: 32px;
}

.remark {
    min-width: 200px;
}

#categorize {
    opacity: 0;
    transition: opacity 300ms ease-in;
}

#loading {
    transition: opacity 100ms ease-in;
}

#categorize[data-ready="true"] {
    opacity: 100%;
}

#categorize[data-ready="true"] + #loading {
    opacity: 0;
}